{% extends 'Appblog/base.html' %}
{% load static %}


{% block content %}

    <div class="text-black col-sm-10 my-5">
        <h3 >Dashboard Page</h3>
        <div>
        <a href="{% url 'changepassword' user.User_ID %}" class="btn btn-warning btn-sm">Change Password</a><br>
        <a href="{% url 'userslist' page_no=1 %}" class="btn btn-warning btn-sm">View All Users</a><br>
        <a href="{% url 'updateuser' user.User_ID %}" class="btn btn-warning btn-sm">Edit Profile</a>

        </div>
        
        
    </div>


    {% if changePassword %}
      <div class="text-black col-sm-10 my-5">
        <h3 >Login Page</h3>
        <form  method="post" novalidate>
            {% csrf_token %}
            {% for fm in form %}
            <div class="form-group">
              {{fm.label_tag}} {{fm}} {{fm.errors|striptags}}
            </div>
            {% endfor %}

            <button class="btn btn-primary"type="submit" name="submit">Submit</button>
            {% if form.non_field_errors %}
              {% for error in form.non_field_errors %}
                <p class="alert alert-danger my-3">{{error}}</p>
              {% endfor %}
            {% endif %}
        </form>
    {% endif %}  
    
    {% if userList %}
      <div class="text-black col-sm-10 my-5">
        {% for user in users %}
        <table class="table table-hover bg-white">
          <thead>
            <tr class="text-center">
              <th scope="col" style="width:2%">User ID</th>
              <th scope="col" style="width:28%">First Name</th>
              <th scope="col" style="width:28%">last Name</th>
              <th scope="col" style="width:55%">Phone</th>
              <th scope="col" style="width:55%">Email</th>
              <th scope="col" style="width:15%">DOB</th>
              <th scope="col" style="width:15%">Gender</th>
              <th scope="col" style="width:15%">Type</th>
              <!-- <th scope="col" style="width:15%">Gender</th> -->
            </tr>
          </thead>
          <tr>
            <td>{{user.User_ID}}</td>
            <td>{{user.first_name}}</td>
            <td>{{user.last_name}}</td>
            <td>{{user.phone}}</td>
            <td>{{user.email}}</td>
            <td>{{user.Dob}}</td>
            <td>{{user.gender}}</td>
            <td>{{user.Type}}</td>
          </tr>
        </table>
        {% endfor %}
      </div>
    {% endif %} 

    {% if updateUser %}
        <div class="text-black col-sm-10 my-5">
          <h3 class="text-white my-5">Dashboard/update post</h3>
          {% if user %}
          <form class="" action="" method="post">
              {% csrf_token %}
              {{form.as_p}}
              <input type="submit" class="btn btn-success" value="Update">
              
          </form>
          {% endif %}
        </div>
    {% endif %}

{% endblock content %}
